section#features.bg-info.container-fluid
  .row
    h2=env.t('featuresHeading')

  .row
    .col-md-4.col-md-offset-2.col-sm-6
      .col-centered.feature-mount
      .featuretext
        h4=env.t('featurePetHeading')
        p=env.t('featurePetByline')
    .col-md-4.col-sm-6
      .col-centered.center-block.feature-achievement
      .featuretext
        h4=env.t('featureAchievementHeading')
        p=env.t('featureAchievementByline')

  .row
    .col-md-4.col-md-offset-2.col-sm-6
      .col-centered.feature-equipment
      .featuretext
        h4=env.t('featureEquipHeading')
        p=env.t('featureEquipByline')
    .col-md-4.col-sm-6
      .col-centered.feature-social
      .featuretext
        h4=env.t('featureSocialHeading')
        p=env.t('featureSocialByline')

    button.btn.btn-primary.btn-lg.fixedcta.gamifybutton(ng-click='playButtonClick()')=env.t('gamifyButton')

#footercall.container-fluid
  .row
    .col-md-10.col-md-offset-1.text-center
      h3=env.t('joinOthers')
  .row
    .col-md-4.col-md-offset-4
      button.btn.btn-primary.btn-lg.btn-block(ng-click='playButtonClick()')=env.t('free')

