section#quest.container-fluid
  .row
    .col-md-offset-1.col-md-5.col-sm-12
      h2.headline=env.t('questHeading1')
  .row
    .col-md-offset-1.col-md-5.col-sm-12
      h2=env.t('questHeading2')
      p.sectioninfo=env.t('questByline1')
        br=env.t('questByline2')
      .scrolltweet.hidden-xs.hidden-sm
        img.scrolltweet-image(data-toggle='tooltip', data-placement='top', title='skysailor', src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/testimonials/skysailor.png')
        .tweet.popover.right.pull-right
          .arrow
          .popover-content=env.t('skysailorQuote')

    .col-lg-4.col-md-6.col-md-offset-1.well.col-xs-10.col-xs-offset-1.well-lg
      .quests-dragon.col-centered

      .row
        .col-xs-5
          .health-progress
            .meter-label(tooltip='Health')
              span.glyphicon.glyphicon-heart
            .meter.health
              .bar
                .col-xs-3
          .quests-player.col-centered

        .col-xs-2
          h2: span.glyphicon.glyphicon-arrow-right

        .col-xs-5
          .health-progress
            .meter-label(tooltip='Health')
              span.glyphicon.glyphicon-heart
            .meter.health
              .bar
          .quests-death.col-centered

    button.btn.btn-primary.btn-lg.fixedcta.gamifybutton(ng-click='playButtonClick()')=env.t('gamifyButton')

